<!-- display image as background-image -->
<div class="{{ items.0 }}" style="background-image: url('{{ items.1 }}')"></div>

{{ attach_library('headscape_image_formatter/headscape.image.formatter') }}
